html,body
.ant-table-body,
.ant-modal-wrap,
.tape-content {
    &::-webkit-scrollbar {
        width: 7px;

    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: darken($black, 5);
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: $gray;
        border-radius: 3px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: $gray;
    }
}

.tape-content {
    &::-webkit-scrollbar {
        height: 8px;
    }
}