.searchform__container {
    background: $black;
    color: $white;
    box-shadow: 0 1px 5px darken($black, 5);
    box-sizing: content-box;
}

.outer-contentype {
    overflow: hidden;
    box-sizing: border-box;
    border-bottom: 1px solid $gray;

}

.searchform__contentype {
    display: grid;
    width: 100%;
    gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(max-content, 0));
    padding: rem(15) rem(10);
    background: $black;
    transition: 0.3s all ease-in-out;
}

.outer-search {
    background: $light-black;
    border: 1px solid $gray;
}

.searchform__search {
    background: $light-black;
    height: 50px;

    .typeitem {
        background: $black;
        transition: 0.8s all;
        animation: 2s forwards addType;
        color: #fff;
    }
}

.searchform__form {
    position: relative;
}

.selected-item-container {
    overflow: hidden;
    transition: 0.3s all;
}

.input-search {
    display: flex;
    flex: 1 1 100%;

    input {
        background: $light-black;
        height: rem(30);
        margin-left: rem(10);
        transition: 0.2s all;
    }

    &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $white;
        opacity: 1;
    }
}

.btnclose {
    background: none;
    opacity: 1;
}

.typeitem {
    padding: 2px 12px;
    border-radius: rem(10);
    cursor: pointer;
    background-color: $light-black;
    transition: 0.3s all;
}

// class to transition in javascript
.hideWith {
    flex-basis: 0;
}

.moveDown {
    margin-top: -70px;
}

@media (min-width: $smBpWidth) {
    .outer-contentype, .outer-search{
        display: flex;
        justify-content: center;
    }
    .searchform__search, .searchform__contentype{
        width: 90%;
    }
}

@keyframes addType {
    0% {
        background: $red;
    }

    30% {
        background: $black;
    }

    70% {
        background: $primary;
    }

    100% {
        background: $primary;
    }
}