.m-table-container {
    padding-top: rem(20);
}

.table-info {
    // height: 40px;
    color: $white;
    padding: rem(15);

    .table-row-selected {
        display: block;
        background: $light-black;
        border: 1px solid $light-gray;
        margin-left: 5px;
        padding: 3px 8px;
        color: #fff;
        border-radius: 20px;

    }
    .table-usage-by-entry{
        margin-left: auto;
        span{
            display: none;
        }
    }
}

.ant-table {
    background: $black;
}

.table__row {
    background: $black;
    color: $white;
}

.ant-table-tbody>tr>td {
    border-bottom: 1px solid $gray;
}

.ant-table-thead>tr>th {
    background-color: $black !important;
    border-bottom: 1px solid $gray;
    color: $light-gray;
}

.ant-table-tbody>tr:hover>td {

    background-color: $hover-black !important;
    color: #fff;
}

tr.ant-table-expanded-row>td,
tr.ant-table-expanded-row:hover>td {
    background: $hover-black;
    color: #fff;
}

// order cell of table
td.ant-table-column-sort {
    background-color: $light-black;
}

/* -------------------------------------------------------------------------- */
/*                              buttons and links                             */
/* -------------------------------------------------------------------------- */

.ant-pagination-disabled .ant-pagination-item-link,
.ant-pagination-disabled:hover .ant-pagination-item-link,
.ant-pagination-disabled:focus .ant-pagination-item-link {
    background-color: $light-black;
    color: $white;
    border: none;
}

a:not([href]):not([class]) {
    background-color: $light-black;
    color: $white;
    border: none;
}

.ant-pagination-item-active {
    border: none;
    background: none;
}



// .ant-checkbox-indeterminate {}
// selected table
.ant-table-tbody>tr.ant-table-row-selected>td {
    background-color: $hover-black !important;
    color: #fff;
}

// checkbox icon inner
.ant-table-row-expand-icon::before,
.ant-table-row-expand-icon::after {
    color: $primary
}

.ant-table {

    [type=button]:not(:disabled),
    [type=reset]:not(:disabled),
    [type=submit]:not(:disabled) {
        background: $black;
        border: 2px solid $white;
        width: rem(18);
        height: rem(18);
    }
}


@media (min-width: $smBpWidth) {
    .m-table-container {
        width: 90%;
        margin: 0 auto;
    }
    .table-usage-by-entry{
        span{
            display: inline !important;
        }
    }
}