* {
    font-family: Mulish, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: $black;
}

input {
    border: none;
    outline: none;
}
h1,h2,h3,h4,h5{
    color: #fff;
}
ul{
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none;
}
// remove input background when active
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    box-shadow: 0 0 0 30px white inset !important;
}

button {
    border: none;

    &:focus {
        border: none;
        outline: none;
    }
}
.pointer {
    cursor: pointer;
}