// configuraciones globales
$primary: #0DCCBC;
$blue: #69a9c2;
$red: #FF2A3B;
$light-gray : rgb(230, 230, 230);
$gray: #5F6368;
$black: #202228;
$light-black: #2a2e36;
$white: rgba(255, 255, 255, 0.98);