// configuraciones globales
$primary: #6fe2e6;
$blue: #69a9c2;
$red: #FF2A3B;
$light-gray : #989B9E;
$gray: #5F6368;
$black: #202228;
$light-black: #2A2E36;
$hover-black: #323945;
$white: #D7D7D7;
$ant-blue: #40a9ff;
// brack points
$smBpWidth: 576px;
$mdBpWidth: 768px;
$lgBpWidth: 992px;
$xlBpWidth: 1200px;